{% extends 'phone_dictionary/base.html' %}

{% block title %}Your Task Table{% endblock %}


{% block nav %}
    <nav >
        <a class="nav-button" href="{% url 'add_edit_task' %}">Добавить запись</a>   
        <a class="nav-button" href="{% url 'search' %}">Поиск</a>
    </nav>
{% endblock %}
{% block content %}
    <h2>Your Task Table</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Улица</th>
                <th>Дом</th>
                <th>Корпус</th>
                <th>Квартира</th>
                <th>Телефон</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ task.surname.name }}</td>
                <td>{{ task.firstname.name }}</td>
                <td>{{ task.patronymic.name }}</td>
                <td>{{ task.street.name }}</td>
                <td>{{ task.house }}</td>
                <td>{{ task.corpus }}</td>
                <td>{{ task.apartments }}</td>
                <td>{{ task.phone }}</td>
                <td>
                    <form method="post" action="{% url 'edit_task' task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Редактировать</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="{% url 'delete_task' task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
